.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #0056b3;
    font-size: 48px;
    font-weight: 700;
    font-style:italic;
}

.underline {
    width: 61px;
    height: 6px;
    background: #0056b3;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #0056b3;
    border-radius: 6px;
    position: relative;
    color: white;
}

.input-icon {
    position: absolute;
    left: 15px;
    font-size: 24px;
    color: black;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 19px;
    margin-left: 45px;
}

.error {
    color: red;
    text-align: center;
    margin-top: 20px;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px;
    align-items: center;
    justify-content: center;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: linear-gradient(90deg, rgb(5, 138, 240) 0%, rgb(26, 23, 23) 100%);
    border-radius: 50px;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit.success {
    background: green;
}

.submit.error {
    background: red;
}

.submit:disabled {
    cursor: not-allowed;
}
