@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

h1.heading {
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    color:#0056b3;
    margin-top: 30px;
    margin-bottom: 10px;
 }

 p.heading.p__color {
    margin-bottom: 0;
    text-align: center;
    line-height: 1.2;
    font-size: 30px;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
    border-radius: 10px;
 }

 .component__space {
   background-color: white;
   flex-direction: row;
 }

 .service__box {
    border-radius: 10px;
    width: 100%;
    background-color: red;
    padding: 20px;
    transition: .4s ease;
    height: 400px;
    text-decoration: none;
 }

 .service__box:hover {
    transform: translateY(4px);
 }

 .service__box:hover .icon {
    color: #fff;
 }

 .service__box:hover p.service__text .p__color {
    color: #fff !important;
 }

 .icon {
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 23px;
    display: inline-flex;
    color: #4c6df2;
 }

 p.service__text.p__color {
    margin-bottom: 0;
 }

 h1.service__text {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 0px;
    font-weight: 50;
    border: none;
    text-decoration: none;
    color: white;
 }

 @media only screen and (max-width: 1024px) {
    .service__box {
        padding: 32px;
    }
 }

 .row {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0 auto;
}

.col__3, .col__2 {
   flex: 1 0 33%;
   margin: 10px;
   height: 400px;
}
@media (max-width: 1200px) {
   .col__3, .col__2 {
       flex: 1 0 45%;
   }
}

@media (max-width: 800px) {
   .col__3, .col__2 {
       flex: 1 0 90%;
   }
}

.col__2.text-section {
   background-color: #d3d3d3;
   padding: 20px;
   height: 400px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: justify;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 400;
   font-size: 20px;
}

.dentist-cleaning{
   background: -webkit-linear-gradient(rgba(31, 50, 255, 0.4), rgba(0, 174, 255, 0.4)), url("../images/service/dental_cleaning.jpg");
   background-position: center;
}

.dentist-cleaning:hover{
   background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(0, 174, 255, 0.8)), url("https://i.pinimg.com/564x/93/b1/c4/93b1c4ddd4ac7c65a8a896b4275cff2e.jpg");
   background-position: center;
}

.whiten{ 
   background: -webkit-linear-gradient(rgba(31, 50, 255, 0.4), rgba(0, 174, 255, 0.4)), url("../images/service/whiten.jpg");
   background-position: center;
}
.whiten:hover{ 
   transform: translateY(4px);
   background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(0, 174, 255, 0.8)), url("../images/service/whiten.jpg");
   background-position: center;
}

.filling{ 
   background: -webkit-linear-gradient(rgba(31, 50, 255, 0.4), rgba(0, 174, 255, 0.4)), url("../images/service/fill.jpg");
   background-position: center;
}
.filling:hover{ 
   transform: translateY(4px);
   background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(0, 174, 255, 0.8)), url("../images/service/fill.jpg");
   background-position: center;
}

.brace{ 
   background: -webkit-linear-gradient(rgba(31, 50, 255, 0.4), rgba(0, 174, 255, 0.4)), url("../images/service/brace.jpg");
   background-position: center;
}

.brace:hover{ 
   transform: translateY(4px);
   background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(0, 174, 255, 0.8)), url("../images/service/brace.jpg");
   background-position: center;
}

.brige{ 
   background: -webkit-linear-gradient(rgba(31, 50, 255, 0.4), rgba(0, 174, 255, 0.4)), url("../images/service/dental_bridge.jpg");
   background-position: center;
}

.brige:hover{ 
   transform: translateY(4px);
   background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(0, 174, 255, 0.8)), url("../images/service/dental_bridge.jpg");
   background-position: center;
}

.root-canal{ 
   background: -webkit-linear-gradient(rgba(31, 50, 255, 0.4), rgba(0, 174, 255, 0.4)), url("../images/service/dental_bridge.jpg");
   background-position: center;
}

.root-canal:hover{ 
   transform: translateY(4px);
   background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(0, 174, 255, 0.8)), url("../images/service/dental_bridge.jpg");
   background-position: center;
}
